# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# CLMS-specific ignores
models/*
.idea/*
Pipfile.lock
examples/hmdb_metabolites.zip
examples/example_data.zip
examples/example_data/
example_data/
examples/DsDA/
scripts/*.bat
vimms/.idea/
tests/results/
experimental/results
demo/01. Data/QCA_22May19_1.p
demo/01. Data/QCA_22May19_1_pp.csv
demo/01. Data/ps.p

experimental/Beer_multibeers_1_fullscan1.mzML
examples/01. vimms (Wandy et al 2019)/example_data.zip
examples/01. vimms (Wandy et al 2019)/supporting_files.zip
examples/01. vimms (Wandy et al 2019)/supporting_files/
demo/01. Data/hmdb_metabolites.zip
demo/01. Data/results/
demo/02. Methods/results/
test_animation.mzML
vimms/scripts/debug_chems
