[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
numba = "*"
numba-stats = "*"
seaborn = "*"
plotly = "*"
scikit-learn = "*"
pymzml = "==2.4.7"
psims = "*"
events = "*"
tqdm = "*"
joblib = "*"
ipyparallel = "*"
requests = "*"
loguru = "*"
networkx = "*"
jsonpickle = "*"
statsmodels = "*"
mass-spec-utils = "*"
tabulate = "*"
pysmiles = "*"
pipenv-setup = "*"
flake8 = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"
intervaltree = "*"
jupyterlab = "*"
ipywidgets = "*"
gpy = "*"

[dev-packages]
twine = "*"
build = "*"
mkdocs = "*"
mkdocstrings = "*"

[requires]
python_version = "3"
