[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "==0.21.3"
jupyterlab = "*"
pymzml = "*"
psims = "*"
events = "*"
tqdm = "*"
joblib = "*"
ipyparallel = "*"
requests = "*"
trio = "*"
loguru = "*"
pyDOE = "*"
networkx = "*"
jsonpickle = "*"
jupyter = "*"
pyzmq = "==18.1.1"
xlrd = "*"
statsmodels = "*"
mass-spec-utils = "==0.0.10"
tabulate = "*"
pytest = "*"
pysmiles = "*"

[dev-packages]
pipenv-setup = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3"
