[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
jupyterlab = "*"
pymzml = "*"
psims = "*"
events = "*"
tqdm = "*"
joblib = "*"
ipyparallel = "*"
requests = "*"
loguru = "*"
networkx = "*"
jsonpickle = "*"
jupyter = "*"
statsmodels = "*"
mass-spec-utils = "*"
tabulate = "*"
pysmiles = "*"
pipenv-setup = "*"
flake8 = "*"
pytest = "*"
intervaltree = "*"
ax-platform = "*"
torch = "*"
gpy = "*"
gym = "*"
stable-baselines3 = {editable = true, git = "git+https://github.com/DLR-RM/stable-baselines3"}
sb3-contrib = {editable = true, git = "git+https://github.com/Stable-Baselines-Team/stable-baselines3-contrib"}
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3"
